
body{
  color: #555;
  margin: 0;



}
#header{
  background-color: #1abc9c;
  height: 150px;
  line-height: 150px;
}
#header a {
color: white;
text-decoration: none;

text-transform: uppercase;
letter-spacing: 0.1em;
}

#header a:hover{
  color: #222;
}
#header-title{
  display: block;
  float: right;
  font-size: 38px;
  font-weight: bold;
}
#header-nav{
  display: block;
  float: left;
  margin-top: 0;
}
#header-nav li{
  display: inline;
  margin-left: 20px;
}
.login{
 border: solid 1.5px; color:#555;
 border-radius: 50px;
 text-align: center;
 padding: 6px;
 background-color: #f6a623;

}
.new{
 border: solid 1.5px; color:#555;
 border-radius: 50px;
 text-align: center;
 padding: 6px;

}
.container{
  max-width: 1000px;
  margin: 0 auto;
}

#footer{
  background-color: #2f2f2f;
  padding: 50px 0;


}
.column{
  min-width: 300px;
  display: inline-block;
  vertical-align: top;
}
#footer h4{
  color: white;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}
#footer p{
  color: white;
}
a{
  color: #1abc9c;
  text-decoration: none;
}
a:hover{
  color: #f6a623;
}
.container-content,.about{
  max-width: 800px;
  margin: 0 auto;
  padding: 60px 0;
}

h1,h2,h3,h4{
  color: #333;
  font-size: 32px;
  vertical-align: middle;
  float: right;
  margin-right: 30px;
  margin-bottom: 25px;
}
p{
  line-height: 1.5;
  font-size: 26px;


}
.about{
  text-align: center;
}

.post-container:nth-child(even) {
  background-color: #f2f2f2;
}


img{
  width: 250px;
  height: 250px;
  display: block;
  vertical-align: baseline;
 }
iframe{
height: 450px;
width: 600px;
border: solid 2px; color: #1abc9c ;
border-radius: 20px;
margin: 15px 0;

}
.log{
  background-color: #1abc9c;
   height: 250px;
  position: sticky;
  top: 200px;

  left: 800px;
margin: 0 250px 150px 250px ;

}
.log img{
  width: 150px;
  height: 150px;
  margin: 20px 30px ;
  float: right;
}
.log p {
font-size: 26;
margin-left: 50px;
margin-top: 10px;
margin-bottom: 30px;


}
.log button{
 color: #1abc9c;
 background-color: #333;
  margin: 30px 20px;
}
